<template>
  <div>
    <h2 class="category-menu-title">
                              Google map here</h2>
    <gmap-map     :center="center"
                  :zoom="15"
                  style="width: 100%; height: 400px"
                >
  
      <gmap-marker v-for="m in this.markers"       :position="{lat: parseFloat(m.latitude) , lng: parseFloat(m.longitude)}"
                                 :clickable="true"
                                 :draggable="true"
                           :key="1"
                                 @click="center=m.position"
                           @mouseover = "statusText = 'm.text'"
                               ></gmap-marker>
    </gmap-map>
  </div>
</template>


<script>
import { mapGetters } from 'vuex'
import * as VueGoogleMap from 'vue2-google-maps'
import Vue from 'vue'
Vue.use(VueGoogleMap, {
  load: {
    key: 'AIzaSyBZ9yu7_s_rhNgkSwWz_UtwLSQMlcpOvVU',
    v: '3.2.6'
    // libraries: 'places', //// If you need to use place input 
  }
  });

export default {
  components: {
    gmapMap: VueGoogleMap.Map,
    gmapMarker: VueGoogleMap.Marker
  },
  computed: {
    ...mapGetters({
      markers: 'allList'
    }),
    center: function () {
      return { lat: parseFloat(this.markers[0].latitude), lng: parseFloat(this.markers[0].longitude) }
    }
  }
  , created() {
    //initMap();
    //this.$refs.gmapMap.resizePreserveCenter() 
  }
}
</script>