<template>
  <div class="wrapper">
    <el-table :data="list">
      <el-table-column prop="mlsno"
                       label="MLS"></el-table-column>
      <el-table-column prop="askprice"
                       label="Ask"></el-table-column>
      <el-table-column prop="latitude"
                       label="Lat"></el-table-column>
      <el-table-column prop="longitude"
                       label="Long"></el-table-column>
      <el-table-column prop="soldprice"
                       label="Sold"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  computed: {
    ...mapGetters({
      list: 'allList'
    })
  }
}
</script>

<style lang="sass" scoped>
.product-name{
  color:red;
}
span{
  color:blue;
}
.product-name{}
</style>