<template>
 
    <div id="map"> </div>
 
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  data() {
    return {
      map: "",
      $infoWindow: "",
      markers: [],
      markerCluster: null,
      reloadData: true
    }
  },
  computed: {
    ...mapGetters({
      currentProperties: 'allList'
    })
  },
  methods: {
    initMap: function () {

      let vm = this;
      vm.map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 43.664246, lng: -79.391087 },
        zoom: 12
      });
      vm.$infoWindow = new google.maps.InfoWindow;


      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          this.$infoWindow.setPosition(pos);
          this.$infoWindow.setContent('<b>Your Location</b>');
          this.$infoWindow.open(this.map);
          //infoWindow.close();
          this.map.setCenter(pos);
          //this.getHouseList(this.map.getBounds());
        }, function () {
          handleLocationError(true, this.infoWindow, this.map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, this.infoWindow, this.map.getCenter());
      }

      //event handler
      vm.map.addListener('dragstart', () => { vm.reloadData = true; });
      vm.map.addListener('zoom_changed', () => { vm.reloadData = true; });
      vm.map.addListener('idle', function () {
        if (vm.reloadData) {
          vm.reloadData = false;
          vm.getHouseList({
            position: this.getBounds(), gmapcb: () => {
              //console.log(vm.currentProperties)
              //let markers = [];

              let iconBase = 'http://maps.google.com/mapfiles/kml/pal3/';
              let icons = {
                house: {
                  icon: iconBase + 'icon23.png'
                },
                condo: {
                  icon: iconBase + 'icon21.png'
                },
                default: {
                  icon: iconBase + 'icon56.png'
                }
              };

              for (var location of vm.currentProperties) {
                let type = "default";

                if (location.type == null) location.type == "";
                switch (location.type.toLowerCase()) {
                  case "semi-detached":
                    type = "house";
                    break;
                  case "att/row/twnhouse":
                    type = "condo";
                    break;
                }
                let latLng = new google.maps.LatLng(parseFloat(location.latitude), parseFloat(location.longitude));
                let marker = new google.maps.Marker({
                  position: latLng,
                  //map: vm.map,
                  icon: icons[type].icon
                });
                let solddate = new Date(location.solddate);
                let listdate = new Date(location.inputdate)
                let dom = Math.ceil((solddate - listdate) / (60 * 60 * 24 * 1000));

                let contentString = `<div class="infow-content">
                                <h4 class="address" style="padding:0; margin:0 0 5px 0;">${location.stno} ${location.stname} ${location.sttype} ${location.area}</h4>
                                <img class="property-img" style="width:190px; height:110px;" src="http://photos.v3.torontomls.net/Live/photos/FULL/1/${location.mlsno.substr(-3)}/${location.mlsno}.jpg" />
                                <ul class="property-details" style="list-style:none; padding:0">
                                <li>Listing Num ${location.mlsno}</li>
                                <li>Asking ${location.askprice}</li>
                                <li>Sold ${location.soldprice}</li>
                                <li>Sold Date: ${location.solddate}</li>
                                <li>DOM: ${dom} </li>
                                <li>${location.type}</li>
                                <li>${location.bdrm} BR + ${location.wshrm} WR</li>
                                </ul>
                                </div>`;

                marker.addListener("click", function () {
                  vm.$infoWindow.setContent(contentString);
                  vm.$infoWindow.setContent(vm.$infoWindow.getContent())
                  vm.$infoWindow.open(vm.map, marker);
                });
                vm.markers.push(marker)
              }
              //remove the duplicated markers
              vm.markers = vm.markers.filter((marker, index, self) => { return self.findIndex(m => { return m.position.lat() === marker.position.lat() && m.position.lng() === marker.position.lng(); }) === index })
             
              // Add a marker clusterer to manage the markers.
              vm.markerCluster = new MarkerClusterer(vm.map, vm.markers,
                {
                  maxZoom: 14,
                  disableAutoPan:true,
                  imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
                });
            }
          })
        }
      });
    },

    createGoogleMaps: function () {
      return new Promise((resolve, reject) => {
        let clusterer = document.createElement('script');
        clusterer.src = `https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js`;
        clusterer.type = 'text/javascript';
        //clusterer.onload=resolve;
        //clusterer.onerror = reject;
        document.getElementById('scripts').appendChild(clusterer);

        let gmap = document.createElement('script');
        let API_KEY = 'AIzaSyBZ9yu7_s_rhNgkSwWz_UtwLSQMlcpOvVU';
        gmap.src = `https://maps.googleapis.com/maps/api/js?key=${API_KEY}`;
        gmap.type = 'text/javascript';
        gmap.onload = resolve;
        gmap.onerror = reject;
        //document.body.appendChild(gmap);
        document.getElementById('scripts').appendChild(gmap);
      })
    },
    ...mapActions({
      getHouseList: 'initHouseList'
    })
  },

  mounted: function () {
    this.createGoogleMaps().then(this.initMap);
  }
}
</script>
<style lang="sass" scoped>
#map{
  height:400px;
  width:100%;
}
</style>