<template>
  <div id="content">
    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  methods: {
    ...mapActions([
      'initHouseList'
    ])
  },
  created() {
    //this.initHouseList();
  }
}
</script>