<template>
  <div class="house-history container">
    <g-map></g-map>
  
    <house-list></house-list>
  </div>
</template>

<script>
import gMap from '../VueComponents/Map.vue'
import HouseList from '../VueComponents/HouseHistoryList.vue'
import { mapGetters, mapActions } from 'vuex';

export default {
  components: {
    HouseList,
    gMap
  }
  , methods: {
    ...mapActions({
      initHouseList: 'initHouseList'
    })
  }
  , created() {
    //this.initHouseList();
  }
}
</script>